/* ----------------------------
   Color Palette (semantic names)
   ----------------------------
   - Primary: #75251f (Dark Red) var(--color-primary)
   - Primary Hover: #a13129 (Lighter Red) var(--color-primary-hover)
   - Surface: #d3cec9 (Light Beige) var(--color-surface)
   - Accent: #8e2e29 (Dark Brown) var(--color-accent)
   - Light: ivory (#FFFFF0) var(--color-light)
   - Overlay: rgba(0, 0, 0, 0.5) var(--color-hover)
*/

:root{
  /* COLORS */
  --color-primary: #74241F;
  --color-primary-hover: #a13129;
  --color-surface: #d3cec9;
  --color-accent: #8e2e29;
  --color-light: #FFFFF0;
  --color-overlay: rgba(0, 0, 0, 0.5);
}
